{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'wishlist/wishlist.css' %}">
{% endblock %}


{% block content %}
    <div class="wishlist-card p-4 shadow">
        <h1>Your Wishlist</h1>
        <ul>
            {% for item in wishlist_items %}
                <li>
                    
                    <a href="{% url 'products:product_detail' item.product.id %}">{{ item.product.name }}</a>
                    <a href="{% url 'wishlist:remove_from_wishlist' item.product.id %}">Remove</a>
                </li>
            {% empty %}
                <li>Your wishlist is empty.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

