<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Cakes Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cakes-link">
                <a href="" class="dropdown-item">Birthday Cakes</a>
                <a href="" class="dropdown-item">Wedding Cakes</a>
                <a href="" class="dropdown-item">Custom Cakes</a>
                <a href="" class="dropdown-item">All Cakes</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Cupcakes Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cupcakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cupcakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cupcakes-link">
                <a href="" class="dropdown-item">Classic Cupcakes</a>
                <a href="" class="dropdown-item">Gourmet Cupcakes</a>
                <a href="" class="dropdown-item">Mini Cupcakes</a>
                <a href="" class="dropdown-item">All Cupcakes</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Seasonal Specials</a>
                <a href="" class="dropdown-item">Discounted Items</a>
                <a href="" class="dropdown-item">Gift Packages</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <!-- About Us -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="/about-us">
                About Us
            </a>
        </li>

        <!-- Contact Us -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="/contact">
                Contact Us
            </a>
        </li>
    </ul>
</div>
